### 데이터베이스

In [1]:
import sqlite3
con=sqlite3.connect('example.db')
cur=con.cursor()
cur.execute('CREATE TABLE PopByRegion(Region TEXT, Population INTEGER)') # execute: sql문 실행
cur.execute('INSERT INTO PopByRegion VALUES("Central Africa", 330993)')
cur.execute('SELECT Region, Population FROM PopByRegion')
cur.fetchall() # 결과값 보고 싶을 때, 여기에 있는 모든 결과값을 보겠다.

[('Central Africa', 330993)]

In [2]:
con.commit() # 저장
con.close() # db연동 끊기

In [3]:
# CSV 파일 불러오기
import pandas as pd
PopByRegion_df = pd.read_csv('PopByRegion.csv')
PopByCountry_df = pd.read_csv('PopByCountry.csv')
display(PopByRegion_df)
display(PopByCountry_df)

# DataFrame을 DB에 저장
import sqlite3
con=sqlite3.connect('population.db') # 만약 db가 없으면 새로 만들어짐
PopByRegion_df.to_sql('PopByRegion', con, index=False) # PopByRegion라는 db에 PopByRegion_df를 con이라는 객체에 저장하겠다.
PopByCountry_df.to_sql('PopByCountry', con, index=False) 
con.commit()

                 Region  Population
0          Asia Pacific      785468
1        Central Africa      330993
2          Eastern Asia     1362955
3        Eastern Europe      223427
4                 Japan      100562
5           Middle East      687630
6         North America      661157
7       Northern Africa     1037463
8         South America      593121
9   Southeastern Africa      743112
10        Southern Asia     2051941
11       Western Europe      387933

           Region            Country  Population
0    Eastern Asia              China     1285238
1    Eastern Asia          DPR Korea       24056
2    Eastern Asia          Hong Kong        8764
3    Eastern Asia           Mongolia        3407
4    Eastern Asia  Republic of Korea       41491
5    Eastern Asia             Taiwan        1433
6   North America            Bahamas         368
7   North America             Canada       40876
8   North America          Greenland          43
9   North America             Mexico      126875
10  North America      United States      493038

#### 데이터베이스에 저장된 테이블과 데이터를 보여주는 프로그램 설치 (DB Browser for SQLite)
#### 웹사이트 주소 http://sqlitebrowser.org/

In [4]:
# DB의 내용을 DataFrame에 저장
DF_Region = pd.read_sql("SELECT * FROM PopByRegion", con)
DF_Country = pd.read_sql("SELECT * FROM PopByCountry", con)

display(DF_Region)
display(DF_Country)

                 Region  Population
0          Asia Pacific      785468
1        Central Africa      330993
2          Eastern Asia     1362955
3        Eastern Europe      223427
4                 Japan      100562
5           Middle East      687630
6         North America      661157
7       Northern Africa     1037463
8         South America      593121
9   Southeastern Africa      743112
10        Southern Asia     2051941
11       Western Europe      387933

           Region            Country  Population
0    Eastern Asia              China     1285238
1    Eastern Asia          DPR Korea       24056
2    Eastern Asia          Hong Kong        8764
3    Eastern Asia           Mongolia        3407
4    Eastern Asia  Republic of Korea       41491
5    Eastern Asia             Taiwan        1433
6   North America            Bahamas         368
7   North America             Canada       40876
8   North America          Greenland          43
9   North America             Mexico      126875
10  North America      United States      493038

In [5]:
# 데이터 추출
cur = con.cursor() # 커서 위치시키기
cur.execute('SELECT Region FROM PopByRegion')
# cur.execute('SELECT Region, Population FROM PopByRegion')
cur.fetchall()

[('Asia Pacific',),
 ('Central Africa',),
 ('Eastern Asia',),
 ('Eastern Europe',),
 ('Japan',),
 ('Middle East',),
 ('North America',),
 ('Northern Africa',),
 ('South America',),
 ('Southeastern Africa',),
 ('Southern Asia',),
 ('Western Europe',)]

In [6]:
# 데이터 추출
cur = con.cursor() # 커서 위치시키기
# cur.execute('SELECT Region FROM PopByRegion')
cur.execute('SELECT Region, Population FROM PopByRegion')
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Japan', 100562),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933)]

In [7]:
# 데이터 추출
cur.execute('SELECT * FROM PopByRegion')
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Japan', 100562),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933)]

In [9]:
#데이터 추출 + 정렬
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region') # ORDER BY Region은 Region 기준으로 정렬
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Japan', 100562),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933)]

In [10]:
#데이터 추출 + 내림차순 정렬
# cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region ASC') # 오름차순
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region DESC') # 역순
cur.fetchall()

[('Western Europe', 387933),
 ('Southern Asia', 2051941),
 ('Southeastern Africa', 743112),
 ('South America', 593121),
 ('Northern Africa', 1037463),
 ('North America', 661157),
 ('Middle East', 687630),
 ('Japan', 100562),
 ('Eastern Europe', 223427),
 ('Eastern Asia', 1362955),
 ('Central Africa', 330993),
 ('Asia Pacific', 785468)]

In [12]:
#조건에 맞는 데이터 추출
cur.execute('SELECT Region FROM PopByRegion WHERE Population > 300000 ORDER BY Region DESC') # WHERE문 사용
cur.fetchall()

[('Western Europe',),
 ('Southern Asia',),
 ('Southeastern Africa',),
 ('South America',),
 ('Northern Africa',),
 ('North America',),
 ('Middle East',),
 ('Eastern Asia',),
 ('Central Africa',),
 ('Asia Pacific',)]

In [13]:
#조건에 맞는 데이터 추출
cur.execute('SELECT Region, Population FROM PopByRegion WHERE Population > 300000') # WHERE문 사용
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933)]

In [14]:
#조건에 맞는 데이터 추출
cur.execute('SELECT Region FROM PopByRegion WHERE Population > 300000 AND Region < "E"') # E보다 먼저나온 것들만 뽑아줌
cur.fetchall()

[('Asia Pacific',), ('Central Africa',)]

In [15]:
#조건에 맞는 데이터 추출
cur.execute('SELECT Region FROM PopByRegion WHERE Population > 300000 AND Region > "E"') # E보다 먼저나온 것들만 뽑아줌
cur.fetchall()

[('Eastern Asia',),
 ('Middle East',),
 ('North America',),
 ('Northern Africa',),
 ('South America',),
 ('Southeastern Africa',),
 ('Southern Asia',),
 ('Western Europe',)]

데이터 수정

In [16]:
#데이터 업데이트 
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')
print(cur.fetchone())

('Japan', 100562)

In [17]:
#데이터 업데이트 
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')
print(cur.fetchone()) # fetchone은 하나만 보여줌
cur.execute('UPDATE PopByRegion SET Population = 100600 WHERE Region = "Japan"') # SET Population = 100600 <- 으로바꿔주는 부분
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')
print(cur.fetchone())

('Japan', 100562)
('Japan', 100600)

In [21]:
#데이터 업데이트 
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')
print(cur.fetchone())

('Japan', 100600)

업데이트 되었음.

In [22]:
#데이터 삭제
cur.execute('SELECT * FROM PopByRegion')
display(cur.fetchall())
cur.execute('DELETE FROM PopByRegion WHERE Region = "Japan"')
cur.execute('SELECT * FROM PopByRegion')
display(cur.fetchall())

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Japan', 100600),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933)]

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933)]

In [23]:
# 데이터 추가
cur.execute('INSERT INTO PopByRegion VALUES ("Japan", 100562)') 
cur.execute('SELECT * FROM PopByRegion')
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933),
 ('Japan', 100562)]

In [24]:
#NULL 사용
cur.execute('CREATE TABLE NullTest (Region TEXT NOT NULL, Population INTEGER)') # Null Test라는 데이블을 만듬, Region엔 Not NULL
cur.execute('INSERT INTO NullTest VALUES ("Mars", NULL)')
cur.execute('INSERT INTO NullTest VALUES (NULL, 456789)') # Error

IntegrityError: NOT NULL constraint failed: NullTest.Region

In [25]:
# 테이블 삭제
cur.execute('DROP TABLE NullTest') # 테이블 지울 땐 DROP

#### PopByRegion 테이블에서 전체 인구의 합을 계산하시오

In [26]:
# 고급기능 > 함수
cur.execute('SELECT * FROM PopByRegion')
display(cur.fetchall())
cur.execute('SELECT SUM(Population) FROM PopByRegion')
print(cur.fetchone())

# AVG, MIN, MAX, COUNT, SUM

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933),
 ('Japan', 100562)]

(8965762,)

#### PopByRegion 테이블에서 지역별 인구의 합을 계산하시오

In [27]:
# 고급기능 > Grouping
cur.execute('SELECT * FROM PopByCountry')
display(cur.fetchall())
cur.execute('SELECT Region, SUM(Population) FROM PopByCountry GROUP BY Region') # 지역별로 그룹한 후 합 구하기
cur.fetchall()

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('Eastern Asia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United States', 493038)]

[('Eastern Asia', 1364389), ('North America', 661200)]

#### PopByCountry 테이블에서 인구가 493038 인 국가를 포함하지 없는 지역을 나타내시오

In [29]:
# 고급기능 > 중첩쿼리
cur.execute('SELECT * FROM PopByCountry')
display(cur.fetchall())

cur.execute('''SELECT Region 
	FROM PopByCountry 
	WHERE Region NOT IN 
	(SELECT Region 
	FROM PopByCountry 
	WHERE (PopByCountry.Population =  493038)) 
	''') # 위의 select에 포함하지 않는 지역을 찾기
display(cur.fetchall())

cur.execute('''SELECT DISTINCT Region 
	FROM PopByCountry 
	WHERE Region NOT IN 
	(SELECT Region 
	FROM PopByCountry 
	WHERE (PopByCountry.Population =  493038))
	''')
display(cur.fetchall()) # DISTINCT 중복 없이 하나만 뽑아줌

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('Eastern Asia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United States', 493038)]

[('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',)]

[('Eastern Asia',)]

In [30]:
# 고급기능 > 중첩쿼리

cur.execute('''SELECT Region 
	FROM PopByCountry 
	WHERE Region NOT IN 
	(SELECT Region 
	FROM PopByCountry 
	WHERE (PopByCountry.Population =  493038)) 
	''') # 위의 select에 포함하지 않는 지역을 찾기
display(cur.fetchall())

cur.execute('''SELECT DISTINCT Region 
	FROM PopByCountry 
	WHERE Region NOT IN 
	(SELECT Region 
	FROM PopByCountry 
	WHERE (PopByCountry.Population =  493038))
	''')
display(cur.fetchall()) # DISTINCT 중복 없이 하나만 뽑아줌

[('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',),
 ('Eastern Asia',)]

[('Eastern Asia',)]

#### Population 이 1,000,000 명 이상의 지역에 속한 국가들을 찾으시오

In [31]:
# 고급기능 > Inner Join
cur.execute('SELECT * FROM PopByCountry')
display(cur.fetchall())
cur.execute('SELECT * FROM PopByRegion')
display(cur.fetchall())


cur.execute('''
	SELECT PopByRegion.Region, PopByCountry.Country
	FROM PopByRegion INNER JOIN PopByCountry
	WHERE (PopByRegion.Region = PopByCountry.Region)
	AND (PopByRegion.Population > 1000000)
    	''') # 두 테이블을 JOIN 함!
cur.fetchall()

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('Eastern Asia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United States', 493038)]

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern Asia', 2051941),
 ('Western Europe', 387933),
 ('Japan', 100562)]

[('Eastern Asia', 'China'),
 ('Eastern Asia', 'DPR Korea'),
 ('Eastern Asia', 'Hong Kong'),
 ('Eastern Asia', 'Mongolia'),
 ('Eastern Asia', 'Republic of Korea'),
 ('Eastern Asia', 'Taiwan')]

In [33]:
# # 고급기능 > Inner Join
# cur.execute('SELECT * FROM PopByCountry')
# display(cur.fetchall())
# cur.execute('SELECT * FROM PopByRegion')
# display(cur.fetchall())


cur.execute('''
	SELECT PopByCountry.Region, PopByCountry.Country
	FROM PopByRegion INNER JOIN PopByCountry
	WHERE (PopByRegion.Region = PopByCountry.Region)
	AND (PopByRegion.Population > 1000000)
    	''') # (PopByRegion.Region = PopByCountry.Region) 와 (PopByRegion.Population > 1000000)
cur.fetchall()

[('Eastern Asia', 'China'),
 ('Eastern Asia', 'DPR Korea'),
 ('Eastern Asia', 'Hong Kong'),
 ('Eastern Asia', 'Mongolia'),
 ('Eastern Asia', 'Republic of Korea'),
 ('Eastern Asia', 'Taiwan')]

#### 한 국가가 그 지역 전체 인구의 10% 이상을 차지하는 지역을 찾으시오 .

In [35]:
# 고급기능 > 중복제거
cur.execute('''
	SELECT DISTINCT PopByRegion.Region
	FROM PopByRegion INNER JOIN PopByCountry
	WHERE (PopByRegion.Region = PopByCountry.Region)
	AND (PopByCountry.Population > (PopByRegion.Population * 0.10))
    	''') # (PopByCountry.Population > (PopByRegion.Population * 0.10))
display(cur.fetchall())

cur.execute('''
	SELECT PopByRegion.Region, PopByCountry.Country
	FROM PopByRegion INNER JOIN PopByCountry
	WHERE (PopByRegion.Region = PopByCountry.Region)
	AND (PopByCountry.Population > (PopByRegion.Population * 0.10))
    	''')
display(cur.fetchall())

[('Eastern Asia',), ('North America',)]

[('Eastern Asia', 'China'),
 ('North America', 'Mexico'),
 ('North America', 'United States')]

#### 인구의 차이가 1000 이하인 국가쌍을 찾으시오 .

In [36]:
# 고급기능 > self join (X)
# 하나의 테이블에서 두개의 관측치를 비교해야하는 경우임
cur.execute('''SELECT Country 
	FROM PopByCountry 
	WHERE ABS(Population - Population) < 1000 
	''') # 1000보다 작은 경우에 출력시켜라!
cur.fetchall()

[('China',),
 ('DPR Korea',),
 ('Hong Kong',),
 ('Mongolia',),
 ('Republic of Korea',),
 ('Taiwan',),
 ('Bahamas',),
 ('Canada',),
 ('Greenland',),
 ('Mexico',),
 ('United States',)]

In [37]:
# 고급기능 > self join (O)
cur.execute('''SELECT A.Country, B.Country 
	FROM PopByCountry A INNER JOIN PopByCountry B
	WHERE (ABS(A.Population - B.Population) < 1000)
	AND (A.Country != B.Country)
	''') # A, B를 임의로 정하는 것
cur.fetchall()

[('Republic of Korea', 'Canada'),
 ('Bahamas', 'Greenland'),
 ('Canada', 'Republic of Korea'),
 ('Greenland', 'Bahamas')]