### Part 2. 본격 파이썬 입문, 1장. 자료형(계속)

In [3]:
my_list1=[0, 1, 2, 2, 3, 4, 4, 4, 5, 8, 8]
my_list2=[3, 3, 3, 4, 4, 5, 6, 6, 7, 8, 9]

my_set1 = set(my_list1) # set(집합) 으로 형변환
my_set2 = set(my_list2)

set_intersection = my_set1 & my_set2 # 교집합
set_union = my_set1 | my_set2 # 합집합
set_diff = my_set1 - my_set2 # 차집합

print(my_set1)
print(set_union)

{0, 1, 2, 3, 4, 5, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
my_str="python programming" 
my_str_set = set(my_str) # set은 순서가 없음
print(my_str_set)

my_str_set.add('q') # set에 q 추가
my_str_set.remove('m') # set에 m 제거
print(my_str_set)

{' ', 'o', 'g', 'h', 'n', 'm', 'y', 'r', 'p', 'i', 'a', 't'}
{' ', 'o', 'g', 'h', 'n', 'y', 'r', 'p', 'i', 'a', 'q', 't'}

In [13]:
# list
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[3]) # 4
print(my_list[1:2]) # 2
print(my_list[1:]) # 2, 3, 4 ~~
print(my_list[:3]) # 1, 2, 3
print(my_list[:])
print(my_list[0:10:2])
print(my_list[10:0:-1])
print(my_list.index(1))

print('=============================')
#str
my_str="python programming"
print(my_str[3]) # h
print(my_str[1:2]) # y
print(my_str[1:]) # ython ~
print(my_str[:3]) 
print(my_str[:])
print(my_list[0:10:2])
print(my_str[10:0: -2])
print(my_str.index("g"))

4
[2]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
0
=============================
h
y
ython programming
pyt
python programming
[1, 3, 5, 7, 9]
gr ot
10

In [16]:
# str -> list
mylist1=list("abcdefghi")
mylist2="python is the best computer language".split() # 공백을 기준으로 쪼개짐
mylist3="03/28/2016".split("/") # / 을 기준으로 쪼개짐

print(list('03/28/2016'))
print(mylist1)
print(mylist2)
print(mylist3)

# list -> str
mystr1="".join(mylist1) # 리스트 내용을 합칠 때 ""에 내용이 없으면 그냥 붙임
mystr2=" ".join(mylist2) # " " 은 공백과 함께 붙임
mystr3=":".join(mylist3) # : 과 함께 붙임

print(mystr1)
print(mystr2)
print(mystr3)

['0', '3', '/', '2', '8', '/', '2', '0', '1', '6']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['python', 'is', 'the', 'best', 'computer', 'language']
['03', '28', '2016']
abcdefghi
python is the best computer language
03:28:2016

#### [실습] 1. 리스트 rainbow에 무지개 색을 입력한 후, 무지개 색을 거꾸로 출력하시오.

In [20]:
rainbow = ["빨강", "주황", "노랑", "초록", "파랑", "남색", "보라"]
rainbow[::-1] # 리스트에서 거꾸로 출력
rainbow[6:0:-1] # 뒤 기준 인덱스자리 6 ~ 0으로 거꾸로 출력(-1)
rainbow[6::-1]

['보라', '남색', '파랑', '초록', '노랑', '주황', '빨강']

#### [실습] 2. 무지개색을 빨강부터 하나건너 하나씩 출력하시오

In [24]:
print(rainbow[0::2]) # 가운데 자리를 비워두면 끝가지 간다고 생각하면됨, 두칸씩 띄어서
print(rainbow[0:7:2]) # 0부터 7까지 두칸씩 띄어서

['빨강', '노랑', '파랑', '보라']
['빨강', '노랑', '파랑', '보라']

#### [실습] 무지개색을 “빨강/주황/…/보라”로 형태로 출력하시오.

In [25]:
print("/".join(rainbow))

빨강/주황/노랑/초록/파랑/남색/보라

#### list comprehension

In [27]:
#for 문을 활용해서 1부터 10미만값의 제곱값을 출력하는 프로그램을 작성해 보세요
squares=[]
for i in range(1, 10):
    squares=squares + [i*i] # list + list = list
print(squares)

squares2=[]
squares2 = [i*i for i  in range(1, 10)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
# 5부터 5의 배수를 50까지 출력하는 프로그램을 작성해주세요
five = []
five2 = [5*i for i in range(1, 11)]
five2

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [31]:
# for 문을 활용해서 1부터 10사이의 짝수의 제곱값을 출력하는 프로그램을 작성해 보세요
squares=[]
for i in range(1, 10):
    if i%2==0: # 나머지가 0이면
        squares=squares + [i*i]
print(squares)

squares2=[]
squares2 = [i*i for i  in range(1, 10) if i%2==0]
print(squares2)

[4, 16, 36, 64]
[4, 16, 36, 64]

In [34]:
# x축이 1부터 10까지의 정수값을 갖고, y축이 1부터 10까지의 정수값을 갖는 (x, y)의 좌표값을 출력하는 프로그램을 작성해 보세요

squares3=[]
squares3 = [(x, y) for x in range(1, 11) for y in range(1, 11)] # x가 바깥거, y가 안에꺼
print(squares3)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (6, 10), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (7, 10), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (8, 10), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9), (9, 10), (10, 1), (10, 2), (10, 3), (10, 4), (10, 5), (10, 6), (10, 7), (10, 8), (10, 9), (10, 10)]

In [39]:
# x축 좌표값 짝수, y축 좌표값 짝수

suqares4 = []
suqares4 = [(x, y) for x in range(1, 11) for y in range(1, 11) if x%2==0 if y%2==0]
print(suqares4)

[(2, 2), (2, 4), (2, 6), (2, 8), (2, 10), (4, 2), (4, 4), (4, 6), (4, 8), (4, 10), (6, 2), (6, 4), (6, 6), (6, 8), (6, 10), (8, 2), (8, 4), (8, 6), (8, 8), (8, 10), (10, 2), (10, 4), (10, 6), (10, 8), (10, 10)]

In [41]:
# x축 좌표값 홀수, y축 좌표값 홀수

suqares4 = []
suqares4 = [(x, y) for x in range(1, 11) for y in range(1, 11) if x%2!=0 if y%2!=0]
print(suqares4)

[(1, 1), (1, 3), (1, 5), (1, 7), (1, 9), (3, 1), (3, 3), (3, 5), (3, 7), (3, 9), (5, 1), (5, 3), (5, 5), (5, 7), (5, 9), (7, 1), (7, 3), (7, 5), (7, 7), (7, 9), (9, 1), (9, 3), (9, 5), (9, 7), (9, 9)]

### Dictionary comprehension

In [43]:
#zip : 동일한 개수로 이루어진 자료형을 묶어주는 함수
print(list(zip([1, 2, 3], [4, 5, 6])))

print(list(zip("abc", "def")))


#enumerate : 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 값으로 리턴하는 함수
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

[(1, 4), (2, 5), (3, 6)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]
0 body
1 foo
2 bar

In [48]:
#순서를 key, 문자열을 value로 갖는 dictionary 생성방법

for index, string in enumerate(['body', 'foo', 'bar']):
    table={index:string} # index: key역할, string: value역할
    print(table)

{0: 'body'}
{1: 'foo'}
{2: 'bar'}

In [47]:
# students=[“송혜교”, “송중기”, “김지원”, “진구”], scores=[98, 94, 96, 97]일 때, 학생이름을 key, 점수를 value로 갖는 dictionary 생성방법
students=["송혜교", "송중기", "김지원", "진구"]
scores=[98, 94, 96, 97]
for name, score in zip(students, scores):
    table={name:score}
    print(table)

{'송혜교': 98}
{'송중기': 94}
{'김지원': 96}
{'진구': 97}

In [49]:
#학생이름을 key, 점수를 value로 갖는 dictionary을 Dictionary Comprehension를 활용하여 생성하는 방법
for name, score in zip(students, scores):
    table={name:score}
    print(table)

score_table = {name : score for name, score in zip(students, scores)}
print(score_table)

### 위와 동일하게 출력할 수 있는 방법은??

{'송혜교': 98}
{'송중기': 94}
{'김지원': 96}
{'진구': 97}
{'송혜교': 98, '송중기': 94, '김지원': 96, '진구': 97}

In [59]:
#학생이름을 key, 점수를 value로 갖는 dictionary을 Dictionary Comprehension를 활용하여 생성하는 방법
for name, score in zip(students, scores):
    table={name:score}
    print(table)

score_table = {name : score for name, score in zip(students, scores)}
print(score_table)

### 위와 동일하게 출력할 수 있는 방법은??
score_table = {print({name : score}) for name, score in zip(students, scores)}

{'송혜교': 98}
{'송중기': 94}
{'김지원': 96}
{'진구': 97}
{'송혜교': 98, '송중기': 94, '김지원': 96, '진구': 97}
{'송혜교': 98}
{'송중기': 94}
{'김지원': 96}
{'진구': 97}

#### [실습] items=[“컴퓨터”, “마우스”, “키보드”], prices=[10000, 500, 200], Dictionary comprehension을 활용하여 item별 가격을 가지는 dictionary를 생성하시오

In [67]:
items=['컴퓨터', '마우스', '키보드']
prices=[10000, 500, 200]

table = {item:prices for item, prices in zip(items, prices)}
print(table)

table = {prices:item for item, prices in zip(items, prices)}
print(table)

{'컴퓨터': 10000, '마우스': 500, '키보드': 200}
{10000: '컴퓨터', 500: '마우스', 200: '키보드'}

#### [실습] students=[“송혜교”, “송중기”, “김지원”, “진구”]에 100번부터 103번까지의 key를 부여하는 dictionary를 구성하고, 101번을 출력하시오

In [65]:
students=['송혜교', '송중기', '김지원', '진구']

table = {keys:name for keys, name in zip(range(100, 104), students)}
print(table)

{100: '송혜교', 101: '송중기', 102: '김지원', 103: '진구'}

####  break vs. continue

In [68]:
# break : 강제적으로 반복문 중단
# 예제: 첫번째 3의 배수를 출력하는 방법
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%3==0:
        print(i)

print("========================")        
list=[1,2,3,4,5,6,7,8,9] # 첫번째 3의 배수를 만나면 break
for i in list:
    if i%3==0:
        print(i)
        break

3
6
9
========================
3

In [69]:
# continue : 반복문의 나머지 부분을 보지 않고, 반복문의 처음으로 돌아가는 기능 (SKIP)
# 예제: 홀수만 출력하는 방법
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%2!=0:
        print(i)
print("========================")
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%2==0: # 짝수인 경우 뛰어넘기
        continue 
    print(i)

1
3
5
7
9
========================
1
3
5
7
9

#### [실습] 20부터 100까지 첫번째 8의 배수만 출력하시오.

In [70]:
for value in range(20, 100):
    if value%8==0:
        print(value)
        break

24

#### [실습] continue문을 이용하여 20부터 100까지 숫자중에서 6의 배수를 출력하시오

In [72]:
for value in range(20, 100):
    if value%6 ==0:
        print(value)

24
30
36
42
48
54
60
66
72
78
84
90
96

In [71]:
for value in range(20, 100):
    if value%6!=0:
        continue
    print(value)

24
30
36
42
48
54
60
66
72
78
84
90
96

### 예외처리 (try ~ except 구문)

In [73]:
text='100%'
try:
    number=int(text)
except ValueError:
    print('{}는 숫자가 아니네요.'.format(text))

100%는 숫자가 아니네요.

In [74]:
text='100%'
number=int(text)

ValueError: invalid literal for int() with base 10: '100%'

In [76]:
### 형식을 포함한 프린트

pi = 3.141592 # 원하는 출력값 "3.14는 무리수예요"
print(pi,'는 무리수예요')
print('%s는 무리수예요'%pi)
print('%1.2f는 무리수예요'%pi)
print('{:1.2f}는 무리수예요'.format(pi))
print(f'{pi :1.2f}는 무리수예요') # format 대신

3.141592 는 무리수예요
3.141592는 무리수예요
3.14는 무리수예요
3.14는 무리수예요
3.14는 무리수예요

In [79]:
si = 12.33
print(f'{pi :1.2f}는 무리수예요. {si:1.2f} 이것두요.') # format 대신

3.14는 무리수예요. 12.33 이것두요.